<div
  style="display: flex;gap: 4rem; padding: 2rem 1rem 1rem 1rem;font-size: 0.9rem;"
>


<div style="display: flex;flex-direction:column;">
 <h3>Modeling Mobility Conference</h3>
<a href="/about">About MoMo</a>
<a href="/about#contact-momo">Contact us</a>
</div>

<div style="display: flex;flex-direction:column;">
 <h3>Legal</h3>
<a href="https://zephyrtransport.org/terms-of-use/" target="_blank">Terms of use</a>
<a href="https://zephyrtransport.org/privacy-policy/" target="_blank">Privacy policy</a>
<a href="/code-of-conduct/">Code&nbsp;of&nbsp;conduct</a>
</div>

</div>

<!-- ------------ -->

<div style="display: flex;gap: 2rem; padding: 0 0 2rem 0.25rem; font-size: 0.9rem;margin-top: 1rem;">

<div style="display: flex;flex-direction:column; width:max-content; margin: 0 auto 0 0">
<a href="https://zephyrtransport.org" target="_blank">
 <img src="/assets/images/zephyr-logo.png" alt="Zephyr Foundation Logo" width="75px">
 <p style="text-align: center;font-weight:bold; letter-spacing: 3px;margin-top: -4px">ZEPHYR</p>
</a>
</div>

<div style="flex: 1; margin: auto 0 auto 0">
  <p> All content &copy; 2025 Zephyr Transport Foundation.</p>
  <p> Zephyr is a registered 501(c)3 non-profit organization</p>
</div>

</div>

